
/* HEADER */
header{
    /* position: absolute;
    width: 81.6vw;
    height: 74px;
    left: 8.95vw;
    top: 24px; */

    max-width: 1270px;
    width: 81.25%;
    padding-top: 14px;
    /* height: 74px; */
    /* left: 8.95vw; */
    /* top: 24px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.nav {
    /* position: absolute;
    width: 600px;
    height: 29px;

    right: 17.02%;
    top: 21.62%; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #000500;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}




.dv-logo{
    height: 74px;
/*     width: 149px; */

    border-radius: 0;
    padding-top: 16px;
}





.yellow_underline{
    position: absolute;
    width: 60px;

    top: 100%;
    border: 1px solid #F6BA13;

}

.platform-button{
    /* position: absolute;
    min-width: 149px;
    left: 87.32%;
    right: 0%;
    top: 14.86%;
    bottom: 33.78%; */
    width: 149px;
height: 38px;
flex-shrink: 0;
    background: linear-gradient(119.32deg, #F6BA13 58.14%, #DD7F4A 141.96%);
    box-shadow: 0px 10px 20px rgba(242, 188, 27, 0.6),
    inset 2px 2px 4px rgba(255, 248, 228, 0.25),
    inset -4px -4px 8px rgba(255, 248, 228, 0.85);
    border-radius: 30px;
    border: none;
    margin-left: 49px;
}

.platform-button a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000500;
    text-decoration: none;
}


.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    display: none;
}

.yellow_underline{
    display: none;
}

#menuButton{
    display: none;
}

#menu-icon img{

    width: 35px;
    height: 35px;
}

#menu-icon{
    display: none;
}

@media (max-width:1225px){
    .nav a, .platform-button{
        display: none;
    }

    #menu-icon {
        display: block;
    }    

}
